HTML, BODY {
  font-family: var(--font-sans);
  font-size: var(--fs-body);
}

H1, H2, H3, H4, H5, H6 {
  color: var(--text-primary);
  font-style: normal;
  font-weight: var(--weight-normal);
  margin: 0 0 10px 0;
}

H1 {
  font-size: var(--fs-heading);
}

H2 {
  font-size: var(--fs-heading);
}

H3 {
  font-size: var(--fs-heading);
}

H4 {
  font-size: var(--fs-heading);
}

H5 {
  font-size: var(--fs-body);
}

H6 {
  font-size: var(--fs-body);
  text-transform: uppercase;
}

P {
  font-weight: var(--weight-normal);
  font-style: normal;
  margin: 0;
}

//code
code, samp, kbd, .monospace {
  font-family: var(--font-mono);
  text-align: left;
}

pre {
  padding: 10px;
  border-radius: var(--border-radius);
  background: var(--box-bg);
  margin: 5px;
  overflow: auto;
}

code {
  background-color: var(--box-bg);
  display: inline-block;
  padding: 5px;
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
}

.v-popper__popper code,
pre code {
  background: transparent;
  padding: 0;
}
